/* NEW COLORS */
/* 
Orange: #E57C04
Accent: #fca21e
Blue:   #7C90A0
*/

/* ***** Global Body Settings ***** */
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	text-align: center;
}
/* ***** Global Body Settings ***** */
.container{
    margin:0 auto;
	max-width:960px;
	font-size: 100%;
	line-height: 1.5;
}
/* LAYOUT */
/* Row */
.row{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.row.center{ justify-content:center; }
.row.sa{ justify-content:space-around; }
.row.vertcenter{ align-items:center; }

/* ---------------------- */
/* Columns */
/* Standard Column - 100% Width for Mobile Design */
.col{width: 100%;}
/* Specific Column Size Classes for Static Elements */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/* Responsive Column Classes for Each Size */
/* For Tablets - 600px - 767px */
@media only screen and (min-width: 600px) {
    .col.s-1 {width: 8.33%;}
    .col.s-2 {width: 16.66%;}
    .col.s-3 {width: 25%;}
    .col.s-4 {width: 33.33%;}
    .col.s-5 {width: 41.66%;}
    .col.s-6 {width: 50%;}
    .col.s-7 {width: 58.33%;}
    .col.s-8 {width: 66.66%;}
    .col.s-9 {width: 75%;}
    .col.s-10 {width: 83.33%;}
    .col.s-11 {width: 91.66%;}
    .col.s-12 {width: 100%;}
}
/* For desktop: */
@media only screen and (min-width: 768px) {
    .col.m-1 {width: 8.33%;}
    .col.m-2 {width: 16.66%;}
    .col.m-3 {width: 25%;}
    .col.m-4 {width: 33.33%;}
    .col.m-5 {width: 41.66%;}
    .col.m-6 {width: 50%;}
    .col.m-7 {width: 58.33%;}
    .col.m-8 {width: 66.66%;}
    .col.m-9 {width: 75%;}
    .col.m-10 {width: 83.33%;}
    .col.m-11 {width: 91.66%;}
    .col.m-12 {width: 100%;}
}
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .col.l-1 {width: 8.33%;}
    .col.l-2 {width: 16.66%;}
    .col.l-3 {width: 25%;}
    .col.l-4 {width: 33.33%;}
    .col.l-5 {width: 41.66%;}
    .col.l-6 {width: 50%;}
    .col.l-7 {width: 58.33%;}
    .col.l-8 {width: 66.66%;}
    .col.l-9 {width: 75%;}
    .col.l-10 {width: 83.33%;}
    .col.l-11 {width: 91.66%;}
    .col.l-12 {width: 100%;}
}
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .col.xl-1 {width: 8.33%;}
    .col.xl-2 {width: 16.66%;}
    .col.xl-3 {width: 25%;}
    .col.xl-4 {width: 33.33%;}
    .col.xl-5 {width: 41.66%;}
    .col.xl-6 {width: 50%;}
    .col.xl-7 {width: 58.33%;}
    .col.xl-8 {width: 66.66%;}
    .col.xl-9 {width: 75%;}
    .col.xl-10 {width: 83.33%;}
    .col.xl-11 {width: 91.66%;}
    .col.xl-12 {width: 100%;}
}
/* Buttons */
.button{
    padding: 5px 18px;
    font-size:20px;
    font-weight:bolder;
    text-shadow:2px 2px 3px rgba(0, 0, 0, 0.726);
    background-color: black;
    border: 1px solid black;
    border-radius: 25px;
    width:200px;
    margin:15px auto;
}
.button:hover{cursor:pointer;background:none;border: 1px solid #ffffff;}
.button:active{background-color:#010100;border: 1px solid #383838;}
.button-2{
    padding: 5px 18px;
    font-size:20px;
    font-weight:bolder;
    text-shadow:2px 2px 3px rgba(0, 0, 0, 0.726);
    background-color: #E57C04;
    border: 1px solid #E57C04;
    border-radius: 25px;
    width:200px;
    margin:15px auto;
}
.button-2:hover{cursor:pointer;background:none;border: 1px solid black;color:black;}
.button-2:active{background-color:#010100;border: 1px solid #383838;}
/* Bar Button */
.bar-button{padding: auto 15px;height:100%}
.bar-button:hover{cursor:pointer;background-color:#518abd;}
.bar-button i{margin:auto 15px;}
/* Dropdown Button */
.dropdown-button{width: auto;margin: auto;padding: 15px 8px;}
.dropdown-button:hover{cursor:pointer;background-color:#518abd;}


/* *** Font Settings    *** */
h2,h3,h4,h5,h6{
    color:#E57C04;
    text-align:center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.651);
}
h1{color:#E57C04;font-size:3.2rem;text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.651);}
h2{font-size:2.5rem;}
h3{font-size:1.8rem;}
h4{font-size:1.5rem;}
a{color:white;text-align:center;text-shadow: 1px 1px 3px black}

/* ***  Navbar  *** */
nav{
    height: 50px;
    background-color: #E57C04;
    align-content:center;
    color:rgb(255, 255, 255);
}
.nav-brand{
    font-size:1.4rem;letter-spacing:0.06rem;
}
.nav-logo{max-height: 40px;}
.nav-logo:hover{-webkit-filter: drop-shadow(2px 2px 3px #000000);filter: drop-shadow(2px 2px 3px #000000);}
.navbar, .nav-menu, .nav-menu-options{ height:100%; }
nav a{
    padding: 0px 15px 0px 15px;
    font-weight:bold;
    letter-spacing:0.06rem;
}
.nav-menu a{
    padding: 12px 18px 12px 18px;
}
nav a:hover{
    color:#010100;
    text-shadow:none;
}
nav a:active{color:#7C90A0}
.nav-menu, .browse-menu{position: relative;}
.nav-button.active{ border-bottom: 6px solid black; }


/* *****************      Footer       ********************* */
footer{ background-color:#E57C04;text-align:center;border-radius: 5px 5px 0px 0px;padding:15px;font-size:1.1rem; }
footer a { margin: 5px auto; }
footer a:hover{ color:#010100; }
footer a:active{ color:#7C90A0; }
footer hr{ width: 50%; }
.footer-left{ padding-left:20%; }
.footer-right{ padding-right:20%; }
.footer-logo{margin:auto;}
.footer-logo:hover{-webkit-filter: drop-shadow(2px 2px 3px #000000);filter: drop-shadow(2px 2px 3px #000000);}


/* *****************      HOME      ******************* */
/* ********************************************************* */
/* ***  Banner  *** */
.banner{
    height: 300px;
    overflow: hidden;
    background: url('../images/roof.jpg') center / cover no-repeat;
    padding: 10px 25px 25px 25px;
    border-radius: 0px 0px 5px 5px;
}
.banner-title h1{color:white;}
.banner-tagline p{
    font-size:1.6rem;
    color:#fdb750;
    text-shadow: 2px 2px 3px #000000;
    font-weight:bold;
}
.banner-button{margin: 20px auto 0px auto;}
.home-main{margin: 20px auto;padding:15px;}
.home-main p{
    font-size:1.3rem;
    color:black;
    font-weight:bold;
    margin-bottom:25px;
}

/* ***************      Why Choose Us      ***************** */
/* ********************************************************* */
.about{padding:30px 20px;}
.about h2,.contact h3{
    text-align:center;
}
.about p{
    max-width: 700px;
    margin: 25px auto;
}
.about hr{color:#E57C04}
.quote{font-style:italic;font-size:larger;background-color:rgba(128, 128, 128, 0.301);border-radius:5px;padding:10px}
.quote-marks{font-family:Georgia, 'Times New Roman', Times, serif;font-weight:bolder;font-size:larger;margin:0 5px;}

/* *****************      Estimate      ******************* */
/* ********************************************************* */
.estimate h2{margin:20px auto;}
.process{
    padding: 25px;
}
.process a{display:inline;text-shadow:none;color:black;}
.process a:hover{color:grey;}
.process p{
    margin: 25px auto;
}

/* *****************      MEDIA QUERIES      ******************* */
/* ********************************************************* */
/* Smallest - MAX 768 */
@media only screen and (max-width: 768px) {
    .nav-right-buttons{flex-direction:row-reverse;}
    .nav-menu:hover .nav-menu-options {
        display: block;
    }
    .nav-menu a:hover{
        background-color:#fca21e;
    }
    .nav-menu-options{
        display: none;
        position: absolute;
        background-color: #E57C04;
        min-width: 175px;
        height:auto;
        border-radius:5px;
        z-index: 1;
        top: 48px;
        right: 0px;
        align-content:center;
    }
    .nav-button.active{border-bottom: none;}
}
/* Small devices - MIN 500 */
@media only screen and (min-width: 500px) {
    .banner{
        height:260px;
    }
    .banner-title{margin:20px auto}
    .banner-button{margin: 30px auto;}
}
/* Medium devices - MIN 768 */
@media only screen and (min-width: 768px) {
    .nav-menu{position:static;}
    .nav-menu-options{
        display:block;
        position:static;
        background-color: none;
        min-width:auto;
        box-shadow: none;
        z-index: 1;
        top: 0px;
        right: 0px;
        display:flex;
        flex-wrap:none;
        height:100%;
    }
    .nav-menu-button{display:none;}
    .product-description{
        height:110px;
        text-overflow:ellipsis;
        overflow:hidden;
    }
    .nav-button:hover{border-bottom: 6px solid black;}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
/* ---------------------------------------------- */
